*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

header{
    width: 100%;
    padding: 10px 0;
    background-color: black;
}
header nav{
    width: 1140px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    color: white;
}